 
/* Space out content a bit */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); 
@import url('https://fonts.googleapis.com/css?family=Dosis|Limelight|Tulpen+One|Francois+One|Philosopher|Patua+One|Ubuntu+Mono');
 
html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: rgba(255,255,255,0.01) 0.1px;
}

html, body {

margin-right: -11px;
margin:0;

padding:0; 

}

a {
    text-decoration: none;
    font-family: Tulpen One, helvetica, sans-serif;
    font-size: 2.5rem;
    color: #ffffe4;
}

a.social-media {
    color: #ffffe4;
}

a:hover {
    color: #110102;
}

i {
    padding-left: 10px;
}

#nav-bars {
    line-height: 45px;
    color: #ffffe4;
    font-size: 1.75rem;
    margin-left: -40px;
}

.nav-bars-container {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.nav-bars-container ul {
    margin-left: -10px;
    margin-top : -1px;
}

.nav-bar-menu {
    margin-left: -5px;
    margin-right: 5px;
    font-size: 2rem;
    line-height: 45px;
}

.nav-menu-container {
    margin-top: -18px;
}

.task-point {
    position: absolute;
    border: red solid 4px;
    border-radius: 2px;
    height: 8px;
    width: 8px; 
    z-index: 105;
}

.task-point-a {
    position: absolute;
    border: red solid 4px;
    border-radius: 2px;
    height: 8px;
    width: 8px; 
    z-index: 105;
}

.task-repair {
    position: absolute;
    border: yellow solid 4px;
    border-radius: 2px;
    height: 6px;
    width: 6px; 
    z-index: 105;
}

.task-removal {
    position: absolute; 
    background-color : green;
    border-radius: 50%;
    height: 12px;
    width: 12px; 
    z-index: 105;
}

.task-design {
    position: absolute;
    border: blue solid 4px;
    border-radius: 2px;
    height: 6px;
    width: 6px; 
    z-index: 105;
}

.task-other {
    position: absolute;
    border: grey solid 4px;
    border-radius: 2px;
    height: 6px;
    width: 6px; 
    z-index: 105;
}



 
 

h1 {
    padding-left: 10px;
    color: #ffffe4;
    margin-top: 20px;
    font-family: Tulpen One;
    font-size: 3rem;
    line-height: 5px;  
}

.overlayBG {
    background-color: black;
    display : block;
    width: 85%;
    margin: auto;
    width: 50%; 
    height: 50px; 
    margin-bottom : 30px;
}

#more {
    border : 1px solid black;
    width : 80px;
    border-radius : 25px;
    height : 30px;
    display : block;
    position : relative;
    margin-left : auto;
    margin-right : auto; 
    margin-top : 25px;
    margin-bottom : 35px; 
    background-color : greenyellow;
    cursor: pointer;
}   

#moreLink {
    display : inline-block;
    position : relative;
    line-height : 30px;
    vertical-align: middle;
    margin-top : 0px;
    float : left;
    color : black;
    font-size : 1.5rem;
    margin-left : 5px; 
    cursor: pointer;
}

h3#moreLink {
    color: black; 
    font-family: Tulpen One;
}

 

.overlayBG h1 {
    line-height: 50px;
}

h2 {
    padding-left: 10px;
    color: #ffffe4;
    margin-top: 10px;
    font-family: Tulpen One;
    font-size: 2.1rem;
    line-height: 5px;
}

h3{
    padding-left: 10px;
    color: #f1ece2;
    margin-top: 0px;
    font-family: Dosis;
    font-size: 1rem;
    line-height: 5px;
}

p {
    color: #ffffe4;
    font-size: 1.25rem;
    font-family: Dosis;
    padding-left: 10px;
    padding-right: 10px;
}

i {
    font-size: 1rem;
}

body {
    margin: 0 auto;
    background-color: #abb088;
   
}

.divhr {
    height: 1px;
    border: 2px solid #ffffe4;
    width: 100%;
}

.app {
    margin: 0 auto;
    z-index: 50;
    position: relative;
}

.main-container {
    position: relative;  
    margin: 0 auto;
    background-color: #9ac768;
}

/***** SOCIAL MEDIA & NAVIGATION *****/
.social-media {
    display: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: -5px;
    width: 100%; 
    height: 35px;
    background-color: #170503;
    z-index: 100;
    position: fixed;
}

.social-media div{
    height: 35px;
    margin-top: -10px;
}

.social-media i {
    margin-top: 0px;
    font-size: 1.5rem;
    line-height: 25px;
    color: #ffffe4;
}

 

#header-container {
    z-index: 30; 
    margin : auto; 
    width: 100%;
    display : block; 
    position : relative;
    background-color: #9ac768;
}

#header-container img {
    width: 100%;
    height: auto;
    top: 0;
}

#layer-container {
    display : block;
    position: absolute;
    z-index : 50;
    top : 0;
    width: 100%; 
    opacity: 50%;
} 

#point-container {
    display : block;
    position: absolute;
    z-index : 100;
    top : 0;
    width: 100%;
    height: 100%;   
} 


#image-loader {
    display: none;
}

#img-header {
    width: 100%;
}

 
.nav-container {
    position: fixed;  
    background-color: black;
    width: 101%;
    z-index: 200;
    margin-top: 0px;
    height: 45px; 
    opacity: .8; 
    
}



.nav-bars-container {
    position: relative;
    display: inline-block;
    margin-left: 20px;  
}

.nav-container ul{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 45px;
}

.nav-container li{
    list-style: none;
    display: inline-block;
    margin-left: 100px;
    line-height: 45px;
    height: 45px;
    opacity: 1.5;
}


#nav-bars {
    padding-left: 60px;
}
  

#overlaycontainer {
  visibility: hidden;
  display: block;
  position: absolute;
  z-index: 100;
  height: 85%;
  width: 80%;
  left: 50%; 
  z-index: 110;
  margin: 0 0 0 -40%;
  margin-top: 5%; 
  overflow: scroll;  
  border: 10px solid white;
  background-color: grey;
  border-radius : 20px; 
}

#overlaycontainer2 {
    visibility: hidden;
    display: block;
    position: absolute; 
    height: 90%;
    width: 80%;
    left: 50%; 
    z-index: 110;
    margin: 0 0 0 -40%;
    margin-top: 3%; 
    overflow: scroll;  
    border: 10px solid white;
    background-color: grey;
    border-radius : 20px; 
  }

p.contact-input-label {
    margin-left: 235px;
}

#overlay-app {
  overflow: auto;
  height: 100%;
  width: 100%;
  text-align: center;

  padding: 5px 5px 3px 5px;
  margin: 0px; 
  background-color: grey;
  display: block;
  position: relative;    
}

#overlay-form {
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align: center;
  
    padding: 5px 5px 3px 5px;
    margin: 0px; 
    background-color: grey;
    display: block;
    position: relative;    
  }

#overlay-nav {
    margin-top: -30px;
    background-color: black;
    height: 50px;
    width: 101%;
    position: absolute;
    display: inline-block;
}

#vertical-div {
    line-height: 40px;
    vertical-align: center;
    height: 15px;
    top: 5px;
    border: 1px solid #ffffe4;
}

#overlay-nav li {
    margin-top: 8px;
    line-height: 40px;
    vertical-align: center;
    list-style: none;
    display: inline-block;
}

#overlay-float-right {
    line-height: 40px;
    vertical-align: center;
    float: right;
    margin-right: 10px;
}

 
 
.overlayImg {
    margin-top : -50px;
    margin: 0;
    position: relative;
    top: 0%;
    max-width : 90%;
    padding-bottom: 20px; 
}

.overlayText {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    margin-top : 20px;
}
 

.diary-model-container img {
    margin-bottom: 25px; 
    margin-top: 10px;
    max-width: 300px;
    float: left; 
    margin-left: 10px;
}
  
#news-edit-p1 {
    height: 100px;
    width: 400px;
    margin-top: 10px;
    font-size: 1rem;
    position: relative;
    display: inline-block;
}

#diary-edit-p2 {
    height: 100px;
    width: 400px;
    margin-top: 10px;
    font-size: 1rem;
    position: relative;
    display: inline-block;
}

#news-edit-p2 {
    height: 100px;
    width: 400px;
    margin-top: 10px;
    font-size: 1rem;
    position: relative;
    display: inline-block;
}
 
#news-edit-title {
    width: 300px;
    font-size: 1rem;
    position: relative;
    display: inline-block;
}
 
#news-edit-image {
    width: 300px;
    font-size: 1rem;
    position: relative;
    display: inline-block;
}

 

.news-add {
    border: 1px solid #ffffe4;
    height: 20px;
    width: 150px;
    display: inline-block;
    margin: -10px auto 0px auto;
    background-color: #841a02;
}
 

.news-add p {
    margin: 0px 0px;
    font-size: 1rem;
}
 
#news-article-preview {
    display: inline-block;
    position: relative;
    width: 100%;
}
 

#submit {
    margin-bottom: 25px;
    margin-left: 300px;
}

#submit-diary {
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 20px auto 50px auto;
    background-color: #31837c;
}

#submit-news {
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 20px auto 50px auto;
    background-color: #31837c;
}

#submit-diary p {
    vertical-align: middle;
    margin: 0px 0px;
}

#submit-news p {
    vertical-align: middle;
    margin: 0px 0px;
}

#preview-diary {
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 20px auto 50px auto;
    background-color: #31837c;
}

#preview-news {
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 20px auto 50px auto;
    background-color: #31837c;
}


#preview-diary p {
    vertical-align: middle;
    margin: 0px 0px;
}

#preview-news p {
    vertical-align: middle;
    margin: 0px 0px;
}


#submit-login p {
    vertical-align: middle;
    margin: 0px 0px;
}

#submit-login {
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 20px auto 50px auto;
    background-color: #31837c;
}

#login-error {
    color: #f1ece2;
    font-size: 1.25rem;
    font-family: Dosis;
}

/***** INDEX *****/
.index-container {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 950px;
    z-index: 100;
    position: relative;
}

.index-container img {
    margin-top: 15px;
}

.index-container h1 {
    padding-top: 20px;
    text-align: center;
}

.index-container p {
    text-align: center;
}

#index-img {
    width: 100%;
    margin-bottom: 30px;
}

#index-center {
    padding-top : 0px;
    margin-top : 0px;
}

#vimeo-frame {
      width: 80%;
      left: 50%;
      position: relative;
      margin: 0 0 0 -40%;
}



/*****  SYNOPSIS *****/
.synposis-container {
    margin: 0 auto; 
}

#synopsis-view {
    background-color: #abb088;
    margin: 0 auto;
    max-width: 900px;
    min-height: 400px;
    margin-top: 50px;
    padding-left: 10px;
}

#synopsis-view h2 {
    color: #31837c;
}

#synopsis-view img {
    border: #ffffe4 solid 5px;
}

#synopsis-img {
    margin-right: 10px;
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-bottom: 15px;
    position: relative;
}

#synopsis p { 

    color: #ffffe4;
    font-family: helvetica;
    font-size: 1.1rem;
}

#synopsis-p { 
    position: relative;
}

#synopsis-p span { 
    float: left;
    vertical-align: top;
    display: inline-block;
}

#img-director {
    margin-left : 10px;
    margin-right: 15px;
    float: left;
    clear: none;
}

/******  TEAM  *****/
.team-model-container {
    display: block;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 42px;
    padding-left: 10px;
}

.cast-view {
    margin: auto;
    width: 50%; 
    padding: 10px;
}

#crew_1 {
    margin: auto;
    width: 50%; 
    padding: 10px; 
    border: 1px solid green;
} 
#crew-center {
    margin: auto;
    width: 50%; 
    padding: 10px;  
}

.cast-view h2 {
    color : #5b4e67;
    font-size: 1.7rem;
}

.cast-view-col-1 {
    position: relative;
    float: left;
    line-height: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
    border: 1px solid green; 
    display : block;
    min-width : 400px;;
}

.cast-view-col-2 {
    position: relative;
    float: left;
    line-height: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
    border: 1px solid green;
    display : inline-block;
}

/***** NEWS *****/
.news-container {
    padding-top: 32px;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.news-container img {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.news-container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    color: #5b4e67;
    
}

.news-container h3 {
    text-align: center;
    font-size: 1.5rem;
}

.news-container h2 {
    color: #5b4e67;
    font-size: 2rem;
}

.news-container a {
    color: #923031;
    font-size: 1.25rem;
    font-family: Dosis;
    margin-left: 10px;
}

.news-container p {
    line-height : 2azS0px;
}


.index-container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    color: #5b4e67;
}

.news-model-info {
    margin-top: -3px;
    width: 67%;
    float: right;
    background-color: red;
}

/***** WATCH *****/
.watch-container {
    padding-top: 55px;
    margin-top : 55px;
    min-height : 300px;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 80px;
    text-align : center;
} 

.watch-container h2 {
    color: #5b4e67;
    font-size: 2rem;
    margin-left : -7px;
} 

.watch-container li {
    list-style-type: none;
    display : inline-block;
    position : relative; 
    height : 86px;
}
 
#googlePlay { 

    margin-right : 45px; 
    margin-bottom : -12px;
}

li#amazonUS {
    margin-right : 45px; 
    margin-bottom : -36px;
}

li#amazonUK { 
    margin-right : 49px; 
    margin-bottom : -36px;
}

.news-container a {
    color: #923031;
    font-size: 1.25rem;
    font-family: Dosis;
    margin-left: 10px;
}



/***** CONTACT *****/
.contact-container {
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    position: relative;
    display: block; 
}

#contact-view {
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    position: relative;
    width: 100%; 

}

#contact-info {
    float: left;
    height: 100%;
    min-width: 300px; 
    display : block;
    position : relative;
    margin-left : auto;
    margin-right : auto; 
}

#contact-info li {
    list-style: none;
}

#contact-social-media {
    float: left;
    height: 100%;
    max-width: 200px;
    display: inline-block; 
}

#contact-info h2 {
    padding-left: 50px;
    padding-top: 22px;
    color: #ffffe4;
    font-family: Dosis;
    font-size: 1.25rem;
}

#contact-social-media h2 {
    padding-left: 50px;
    padding-top: 22px;
    padding-bottom: 25px;
}

#contact-social-media h3 {
     color: #f1ece2;
     font-size: 1.25rem;
}

#contact-social-media li {
    font-size: 1.5rem;
    color: #ffffe4;
    list-style-type: none
}

#contact-social-media i {
    font-size: 1.5rem;
    color: #ffffe4;
}

#contact-social-media h2 {
    color: #923031;
    font-family: Dosis;
    font-size: 1.5rem;
}

#contact-info a {
    padding-right: 40px;
    color: #31837c;
    font-family: Dosis;
    font-size: 1.25rem;
}

#contact-info li {
    font-size: 1.5rem;
    color: #ffffe4;  
}

#contact-info h2 {
    color: #923031;
    font-family: Dosis;
    font-size: 1.5rem;
}

#contact-info h3 {
    color: #f1ece2;
    font-family: Dosis;
    font-size: 1.25rem;
    line-height: 25px;
}

#contact-info h4 {
    padding-left: 50px;
    margin-top: -20px;
    color: #f1ece2;
    font-family: Dosis;
    font-size: 1.25rem;
}

.contact-input-text { 
    width: 220px;
    border: 0px;
    font-size: 1.1rem;
    font-family: Dosis; 
}

.contact-input-text-invisible {
    border: 0px;
    visibility: hidden;
}   

.contact-radio-text  {
    margin-left: 45px;
    padding-left : 5px;
    margin-top : -3px;
    height: 15px; 
    border: 0px;
    font-size: 1.1rem;
    font-family: Dosis; 
}
 

.contact-input-field {
    height: 150px;
    width: 220px;
    border: 0px;
    font-size: 1.1rem;
    font-family: Dosis; 
    margin-top: 3px;
    margin-left: 35px;
}

.contact-input-label {
    margin-left: 35px;
    width: 200px;
    border: 0px;
}

.contact-input-label-invisible {
    visibility: hidden;
    width: 100px;
    border: 0px;
}

.contact-input-button {
    margin-left: 35px;
    height: 20px;
    width: 200px;
    border: #ffffe4 1px; 
}

#contact-input-text {
    font-size: 1.25rem;
}

#contact-text-message {
    height: 100px;
    width: 200px;
    margin-top: 5px;
}

.contact-input-text {
    margin-left: 35px;
    position: relative;
    display: inline-block;
}
 
#contact-button {
    float: left;
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    background-color: #31837c;
    margin-left: 45px;
    cursor: pointer;
    margin-bottom: 75px;
}

#contact-button p {
    font-size: 1.25rem;
    font-family: Dosis;
    margin-top: 1px;
    margin-left: 10px;

}

#submit-button p {
    font-size: 1.25rem;
    font-family: Dosis;
    margin-top: 1px;
    margin-left: 10px;
}

#submit-button {
    border: 1px solid #ffffe4;
    height: 30px;
    width: 100px;
    display: inline-block;
    margin: 20px auto 50px auto;
    background-color: #31837c;
    margin-left: 45px;
    cursor: pointer;
}

#festivals-link p{
    color: #31837c;
    font-family: Dosis;
    font-size: 1.25rem;
}


/***** FOOTER *****/
#hruler {
    border: solid #ffffe4 1px;
    width: 100%;
}

#footer {
    
    position: relative;
    display: block;
    background-color: black;
    width : 100%;
    min-width: 1400px; 
    height: 165px;
    margin: 0 auto;
    clear: both;
    padding-bottom: 20px;
    margin-bottom: -5px;
    padding-top: 20px;
}

#footer li {
    list-style-type: none;
}

#footer hr {
    width : 100%;
}

#footer li a {
    color: #ffffe4;
    font-family: Dosis;
    font-size: .9rem;
}

.footer-container {
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    background-color: black;
}

 
 

.float-left {
    float: left;
    background-color: black;
}

.float-left div {
    height: 108px;
    margin-top: 35px;
}

#footer-text { 
    
    margin-right: 0px;
}

/***** GENERAL *****/
#float-right {  
    float: right;
    margin-top: 1px;
}
   
/***** RESPONSIVE *****/
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    #footer {
        height: 165px;
    }

   
}

@media (max-width: 1320px) {
    .nav-container ul {
        margin-left: 80px;
    }
    .nav-container li {
        margin-left: 100px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 1280px) {
    .nav-container ul {
        margin-left: 50px;
    }
    .nav-container li {
        margin-left: 100px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 1240px) {

    .nav-container li {
        margin-left: 100px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 1180px) {
    .nav-container li {
        margin-left: 90px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 1120px) {
    .nav-container li {
        margin-left: 80px;
    }
    #footer {
        height: 165px;
    }
    .nav-menu-container ul{
        margin-left: 50px;
    }
}

@media (max-width: 1060px) {
    .nav-container li {
        margin-left: 70px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 1000px) {
    .nav-menu-container ul{
        margin-left: 50px;
    }
    .social-media {
        display: none;
    }
    #app {
        margin-top: -20px;
    }
    .nav-container li {
        margin-left: 60px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 900px) {
    #contact-social-media {
        display: none;
    }
    #vruler2 {
        display: none;
    }
    .nav-container {
        margin-top: -100px;
    }
    .nav-container a {
        font-size: 1.9rem;
    }
    .nav-container li {
        margin-left: 50px;
    }
    #footer {
        height: 165px;
    }
}


@media (max-width: 825px) {
    #crew_2 {
        clear: both;
    }
    .nav-container {
        margin-top: -100px;
    }
    .nav-container a {
        font-size: 1.85rem;
    }
    #contact-img {
        width: 280px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 750px) {
    .nav-container {
        margin-top: -90px;
    }
    h1 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1.2rem;
        margin-top: 25px;
    }
    #contact-info h2{
        font-size: 1.5rem;
    }
    .nav-container a {
        font-size: 1.8rem;
    }
    .nav-container li {
        margin-left: 40px;
    }
    #contact-img {
        width: 250px;
    }
    #footer {
        height: 165px;
    }
}



@media (max-width: 700px) {
    .index-container {
        margin-top: -50px;
    }
    #vruler1 {
        display: none;
    }
    .nav-container {
        margin-top: -80px;
    }
    #contact-img {
        display: none;
    }
    #contact-info {
        margin-left: 50px;
    }
    .nav-container li {
        margin-left: 35px;
    }
    #footer {
        height: 165px;
    }

}

@media only screen and (max-width: 638px)  {
    #amazonUK {
        margin-left: 5px;
    }
}


@media (max-width: 650px) {
    .index-container {
        margin-top: -50px;
    }
    .social-media {
        display: none;
    }
    p {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .nav-container li {
        margin-left: 30px;
    }
    
    #contact-info {
        margin-left: 50px;
    }
    #footer {
        height: 165px;
    }
}

@media (max-width: 600px) {
    .index-container {
        margin-top: -50px;
    }
    .nav-container li {
        margin-left: 25px;
    }

    .nav-menu-container ul{
        margin-left: 0px;
    }
    
    #contact-info {
        margin-left: 50px;
    }
    #footer {
        height: 300px;
    }
    
}

@media only screen and (max-width: 500px) {
    .index-container {
        margin-top: -100px;
    }
    .nav-container {
        margin-top: -45px;
    }
    
    #index-center {
        margin-top: -85px; 
    }

}

@media (max-width: 461px) {
    .sm {
        display : none;
    }
    #footer {
        height : 450px;
    }
    .index-container {
        margin-top: -150px;
    }
    .nav-container {
        margin-top: -50px;
    }
    .cast-view p {
        font-size: 1.15rem;
    }
}

@media (max-width: 420px) {
    .index-container {
        margin-top: -80px;
    }
    .nav-container {
        margin-top: -55px;
    }
    .cast-view p {
        font-size: 1.1rem;
    }
    #contact-info {
        margin-left: 35px;
    }
    #contact-info a {
        font-size: 1.25rem;
    }

    .news-container p{
        line-height : 20px; 
     }
}

@media (max-width: 380px) {
    .index-container {
        margin-top: -155px;
    }
    .nav-container {
        margin-top: -55px;
    }
    .cast-view p {
        font-size: 1rem;
    }
    #contact-info {
        margin-left: 20px;
    }
    #contact-info h2 {
        margin-left: -20px;
    }
    #contact-info h4 {
        margin-left: -20px;
    }
    #contact-info a {
        font-size: 1.2rem;
    }


}

@media (max-width: 350px) {
    .index-container {
        margin-top: -155px;
    }
    .nav-container {
        margin-top: -55px;
    }
    .nav-bars-container ul {
        margin-left: -1px;
    }
    .cast-view p {
        font-size: .9rem;
    }
    #contact-info {
        margin-left: 0px;
    }
    #contact-info h3 {
        font-size: 1.1rem;
    }
    #contact-info a {
        font-size: 1.2rem;
    }
}

@media (max-width: 340px) {
    .index-container {
        margin-top: -175px;
    }
    .nav-bar-menu {
        font-size: 1.5rem;
    }
    .nav-container {
        margin-top: -55px;
    }

    .cast-view p {
        font-size: .85rem;
    }
    #contact-info h3 {
        font-size: 1rem;
    }
    #contact-info a {
        font-size: 1.1rem;
    }
}

 